body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #f4f4f4;
}

header {
    background-color: #0F1035;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.site-name {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

.carousel-container {
    height: 370px;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.courses-container {
    background-color: #0F1035;
    height: 183px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.course {
    text-align: center;
    color: white;
}

.course-img {
    width: 80px;
    height: 80px;
 /*border-radius: 50%;*/
    object-fit: cover;
    margin-bottom: 10px;
}

.school-info {
    background-color: #DCF2F1;
    width: 1280px;
    height: 1780px;
    text-align: center;
}

.school-info h2 {
    color: #153467;
    margin-bottom: 20px;
}

.additional-info {
    background-color: #DCF2F1;
    width: 1280px;
    height: 1780px;
    text-align: center;
}

.additional-info h2 {
    color: #153467;
    margin-bottom: 20px;
}

.additional-info .additional-box {
    background-color: #D9D9D9;
    width: 294px;
    height: 510px;
    margin: 0 20px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
}

.additional-info .additional-box img {
    width: 100px;
    height: 100px;
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
}

.additional-info .additional-box p {
    margin: 10px 0;
}

.cx-cima {
    background-color: #365486;
    width: 1113px;
    height: 246px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom:100px;
}

footer {
    background-color: #0F1035;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    margin-left: 20px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.redesocial {
    margin-right: 20px;
}

.redesocial p {
    margin-bottom: 5px;
}

.redesocial img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

hr {
    border-color: white;
    margin: 20px auto;
    width: 80%;
}

.copia {
    margin-bottom: 10px;
}

.intro-text {
    margin: 0px 30px 0px 30px;
    text-align: left;
}

a {
    text-decoration: none;
}